<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../includes/head') %>
</head>
<body>
    <%- include('../includes/nav') %>
    <div class="container">
        <%- body %>
    </div>
    <script src="/js/scripts.js"></script>
</body>
</html>
