<%- include('layouts/layout', { body: `
    <header>
        <h1>Bienvenido a nuestro E-commerce de Computación</h1>
    </header>
    <main>
        <p>Aquí encontrarás las mejores partes de computadoras.</p>
    </main>
    ` }) %>
    